/* Tri DropDown */
.works-sort {
    display: none;
}

@media (min-width: 900px) {
    .arrow-down-open {
        color: #fff;
        left: 18.8rem;
        position: absolute;
        top: 27.09rem;
    }

    .arrow-up-close {
        color: #fff;
        left: 8.5rem;
        position: absolute;
        top: 1.55rem;
    }

    .hidden-sort #sort-pop {
        background: #901c1c;
        color: #fff;
        font-size: 1rem;
        font-weight: 500;
        padding: 1.25rem;
        border-radius: 5px 5px 0 0;
        border: 0;
    }

    .hidden-sort #sort-pop:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 80%;
        padding-top: 20px;
        border-bottom: 1px solid #fff;
        position: absolute;
        right: 1.1rem;
        top: 2.5rem;
    }

    .hidden-sort #sort-date {
        background: #901c1c;
        color: #fff;
        font-size: 1rem;
        font-weight: 500;
        padding: 1.25rem;
        border-radius: 0 0 0 0;
        border: 0;
    }

    .hidden-sort #sort-date:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 80%;
        padding-top: 20px;
        border-bottom: 1px solid #fff;
        position: absolute;
        right: 1.1rem;
    }

    .hidden-sort #sort-title {
        background: #901c1c;
        color: #fff;
        font-size: 1rem;
        font-weight: 500;
        padding: 1.25rem;
        border-radius: 0 0 5px 5px;
        border: 0;
    }

    .sort-btn {
        align-items: center;
        background: #901c1c;
        border: none;
        border-radius: 5px;
        color: #fff;
        display: flex;
        font-size: 1rem;
        font-weight: 500;
        justify-content: flex-start;
        left: 11rem;
        padding: .625rem 1.25rem;
        position: absolute;
        top: 25.6rem;
        width: 10rem;
        height: 3.8rem;
    }

    .works-sort {
        display: block;
        margin-left: 2rem;
        margin-top: 2rem;
    }

    .works-sort>span {
        font-size: 1.2rem;
        font-weight: 700;
        margin-right: 1.5625rem;
    }

    ul.hidden-sort {
        border-radius: 5px;
        color: #fff;
        display: none;
        left: 167px;
        padding: 0;
        position: absolute;
        top: 385px;
        width: 11rem;
        z-index: 10;
        list-style: none;
    }

    ul.hidden-sort li:hover {
        background-color: #651414;
        cursor: pointer;
    }

    ul.hidden-sort li:nth-child(1) {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}
